 /* The navigation bar */
 .menu {
  background-color: rgb(0, 0, 0);
  position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    left: 0;
    width: 100%; /* Full width */
    z-index: 100000000;
    list-style-type: none;
  }
  
  /* Links inside the navbar */
  .menu a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change background on mouse-over */
  .menu a:hover {
    background: rgb(255, 253, 253);
    color: rgb(39, 51, 41);
    opacity : 100%;
  }

  /* The battery acid logo on the header */
  .logo img {
    float: left;
    width: auto;
    height: 52px;
  }