 /* The navigation bar */
 .menu {
    overflow: hidden;
    background-color: rgba(18, 150, 41, 0.815);
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    left: 0;
    width: 100%; /* Full width */
  }
  
  /* Links inside the navbar */
  .menu a {
    float: left;
    display: block;
    color: #030707;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change background on mouse-over */
  .menu a:hover {
    background: rgb(255, 253, 253);
    color: rgba(19, 150, 41, 0.815);
  }
  
  .logo img {
    float: left;
    width: auto;
    height: 52px;
  }

  /* Main content */
  .main {
    margin-top: 70px; /* Add a top margin to avoid content overlay */
    float: left;
    padding-left:20px;
  } 

  .flashabuser {
    margin-top: 330px;
    color:rgb(104, 101, 101);
    font-size: 2px;
    padding: 0px 0px;
  }

  .insane {
    font-size: 2px;
  }